<h1>New Survey</h1>

<%= form_for @survey do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :expired_at %>
    <%= f.date_select :expired_at %>
  </p>

  <%= f.fields_for :questions do |builder| %>  
    <%= render 'question_fields', :f => builder %>    
  <% end %>  

  <p><%= link_to_add_fields "Add Question", f, :questions %> </p>
  <%= f.submit "Create Survey" %>
<% end %>
